body{
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKWGhLYdpxI9f7PmIUZ8VMeKSVwsvBpaVLPJmDQjLcx4q2KyPaWQ);
background-size: cover;
text-align: center;
}
.one{
  text-align: center;
}
h5{
  font-size: 20px;
}
h6{
  font-size: 15px;
}
ul>li{
list-style-type:none;
}
